



<div class="row">
  <div class="msi-head"><h4>&nbsp;&nbsp;&nbsp;Partnership Deeds</h4></div>
     
</div>
  <!-- Error Message Block -->
<div class="row">
  <div class="span8 alert alert-error"></div>
</div>
<% unless @partnership_deeds.blank? %>

<div class="msi-list details-view">
  <div class="row list-heading">
    <div class="span2 controls">
      <label class="checkbox inline">
        <input id="toggleSelection" type="checkbox" value="toggle">
       Firm Name
      </label>
    </div> 
    <div class="span2">Address</div> 
    <div class="span1">Status</div> 
    <div class="span2">Next Renewal Date</div> 

    	<div class="span2">Action</div>
 
    
  </div>
 
    
         <% @partnership_deeds.each do |partnership_deed| %>            
              <div class="row">
                <div class="span2 controls">
                  <label class="checkbox inline">
                    <%= check_box_tag "partnership_deed[partnership_deed_ids][]", partnership_deed.id, false, :name => "partnership_deed[partnership_deed_ids][]" %>
                    <a href="#" alt="Click to view details" title="Click to view details">
                        <% unless partnership_deed.firm_name.blank? %>
                            <%= link_to "#{ partnership_deed.firm_name}", partnership_deed_path(partnership_deed,:format=>'pdf') %>                        
                        <% end %>
                    </a>
                  </label>
                </div> 
                <div class="span2"><%= partnership_deed.firm_address %></div>

				

                <div class="span1">
                	<%if partnership_deed.next_renewal_date.strftime("%d-%m-%Y") > Date.new.strftime("%d-%m-%Y")%>
      <span class="status-active">Live</span>
      <%else%>
      <span class="status-expired">Expired</span>
      <%end%> 	
                </div>
                <div class="span2"><%= partnership_deed.next_renewal_date.strftime("%d-%m-%Y")  %></div>
               
                <div class="span2">
                	
                	    <%= link_to "Edit", edit_partnership_deed_path(partnership_deed) %> |
      					<%= link_to "Destroy", partnership_deed, :confirm => 'Are you sure?', :method => :delete %>|<br/> 
      					<%= link_to "Add or Remove Partner", add_remove_member_partnership_deed_path(partnership_deed) %> |
    
     <%= link_to "Renewal", renewal_partnership_deed_path(partnership_deed) %>
                  
                </div>
                
              </div>
            <% end %>               
                                                
 
  
<% else %>
   <div class="alert alert-error" style="display:block">Record Not Found</div>
<% end %>
</div>